* {
	font-family: 'Roboto', sans-serif;
}

body {
	padding-top: 50px;
}

a {
  text-decoration: none;
  color: #3d7b8d;
}

a:hover {
  text-decoration: none;
  color: #3d7b8d;
}

a:active {
  text-decoration: none;
  color: #3d7b8d;
}

a:visited {
  text-decoration: none;
  color: #3d7b8d;
}

a:link, a:visited {
  text-decoration: none;
  color: #3d7b8d;
}

.caption a h3 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}

.head_container {
	background-color: #fff;
	margin-bottom: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 0px;
	margin-top: 20px;
}

.bg-dkblue {
	background-color: #3d7b8d;
	border: none;
	border-bottom-color: #387284;
	transition: .25s;

}

.bg-dkblue-shdw {
	transition: .25s;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); 
}

.navbar-inverse .navbar-text {
	color: white;
}
.navbar-inverse .navbar-nav > li > a {
	color: white;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
		border-color: #387284;
		border-top-color: #387284;
		border-right-color: #387284;
		border-bottom-color: #387284;
		border-left-color: #387284;
		overflow: hidden;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: white;
	background-color: rgba(255, 255, 255, 0.25);
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-brand:hover {
	color: white;
	background-color: rgba(255, 255, 255, 0.25)
}

.navbar-inverse .navbar-toggle {
	border-color: black;
	background-color: black;
}

.navbar-inverse .navbar-toggle:hover {
	border: none;	
	color: black;
	background-color: rgba(0, 0, 0, 0.75);
}

.btn-custom {
	color: black;
	background-color: white;
	border-top-width: 1px;
	border-top-color: #eee;
	border-radius: 0;
	margin-bottom: 20px;
	margin-top: 0;
}

.btn-custom:hover {
	color: white;
	background-color: #3d7b8d;
	border-top-color: #3d7b8d;
	
}

.btn-custom-2 {
	color: white;
	background-color: #3d7b8d;
	border-top-color: #3d7b8d;
	border-radius: 0;
	margin-top: 5px;
	margin-right: 10px;
	padding: 10px;
}

.btn-custom-2:hover {
	color: white;
	background-color: #3d7b8d;
	border-top-color: #3d7b8d;
	
}


.thumbnail-custom {
margin-bottom: 10px;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
border: none;
padding: 0;
margin-top: 10px;
}


@media screen and (max-width: 600px) and (min-width: 400px)  
{.twitter {
margin-top: 10px;}
}


.tag {
	color: #147632;
	font-variant: small-caps;
	margin-bottom: 5px;
	margin-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 0;
	font-size: 12px;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-right-width: 0px;
	border-left: 0px;
	border-top-color: #147632;
	border-bottom-color: #147632; 
}

a.tag {
	color: #147632;
	text-decoration: none;
}

a.tag:hover {
	color: #147632;
	text-decoration: none;
}
a.tag:active{
	color: #147632;
	text-decoration: none;	
}

a.tag:visited{
	color: #147632;
	text-decoration: none;	
}

a.btn-custom-2:link, a.btn-custom-2:visited {
	color: white;
	text-decoration: none;
}

a.btn-custom-2 {
	color: white;
	text-decoration: none;
}

a.btn-custom-2:hover {
	color: white;
	text-decoration: none;
}
a.btn-custom-2:active{
	color: white;
	text-decoration: none;	
}

a.btn-custom-2:visited{
	color: white;
	text-decoration: none;	
}

a.btn-custom-2:link, a.btn-custom-2:visited {
	color: white;
	text-decoration: none;
}

.shadow:hover {
		box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.shadow {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.shadow2 {
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.shadow3 {
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);

}

.shadow4 {
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);

}

.shadow5 {
		box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);

}

#requests, #agencies, #records, #pages {
font-weight: bold;
}


#records {
margin-right: 5px;
}

#brand-label {
	font-variant: all-small-caps;
	line-height: 1;
}

.grid {
  max-width: 100%;
}

.photo-cred {
	font-size: 11px;
	font-variant: all-small-caps;
}

/*insert media query for desktop and mobile, some funky transition stuff. Maybe check that out and how to delay*/

@media screen and (max-width: 600px)  
{.grid-sizer, .grid-item {
	width: 100%; 
	min-height: 1px;
	margin-left: 12px;
	margin-right: 12px;}
}
@media screen and (min-width: 1200px) 
{.grid-sizer, .grid-item {
	width: 30%; 
	min-height: 1px;
	margin-left: 12px;
	margin-right: 12px;}
}

@media screen and (min-width: 601px) and (max-width: 1199px) {

	.grid-sizer, .grid-item {

	width: 28%; 
	min-height: 1px;
	margin-left: 12px;
	margin-right: 12px;}


}
.grid-item--width2 { width: 100%; }
.grid-sizer--width2 {
	width: 100%;
}


#tag-group {
margin-top: 20px;
margin-bottom: 20px;

}

@media screen and (max-width: 600px)  
{
.portrait {
	width: 50%;
	height: auto; 
	float: right;
	margin: 10px;
}
}
@media screen and (min-width: 601px)  
{
.portrait {
	width: 45%;
	height: auto; 
	float: right;
	margin: 10px;
}
}
@media screen and (min-width: 680px)  
{
.portrait {
	width: 35%;
	height: auto; 
	float: right;
	margin: 10px;
}
}
@media screen and (min-width: 770px)  
{
.portrait {
	width: 50%;
	height: auto; 
	float: right;
	margin: 10px;
}
}

.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #3d7b8d;
}
.btn-success:hover {
  color: #fff;
  background-color: #3d7b8d;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #3d7b8d;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #fff;
  background-color: #3d7b8d;
}

.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
  background-color: #3d7b8d;
}

.btn-success .badge {
  color: white;
  background-color: #3d7b8d;
}